AnchorPane {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "PingFang SC";
    -fx-text-fill: #2A2A2A;
}
Button{
    -fx-background-radius:0 0 0 0;
    -fx-font-family: "PingFang TC";
    -fx-background-color:#2A2A2A;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
}
.text-field{
    -fx-border-color: #999999;
    -fx-background-radius:0 0 0 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
/*.text-field:focused{*/
    /*-fx-border-color: #999999;*/
    /*-fx-background-radius:0 0 0 0;*/
    /*-fx-background-insets: 0;*/
    /*-fx-background-color: transparent, white, transparent, white;*/
/*}*/
.box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius:0 0 0 0;
    -fx-border-color:#999999;
}
.titleH{
    -fx-font-family: "PingFang HK";
    -fx-font-size: 17px;
}